<form action="{% url 'carts:add' %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="product_id" value="{{ product.id}}" class="form-control" value="">

    <div class="">
        <button type="button" class="btn btn-info d-inline" id="restar">-</button>
        <input type="number" value="1" class="form-control col-sm-1 d-inline" readonly id="cantidad" name="cantidad">
        <button type="button" class="btn btn-info d-inline" id="sumar">+</button>
    </div>

    <div class="mt-2">
        <button type="submit" class="btn btn-warning">Agregar al carrito</button>
    </div>

</form>

<script>
    const sumar = document.getElementById('sumar')
    const restar = document.getElementById('restar')
    const cantidad = document.getElementById('cantidad')

    sumar.addEventListener('click', function(){
        cantidad.value = parseInt(cantidad.value) + 1
    })

    restar.addEventListener('click', function(){
        value = parseInt(cantidad.value)

        if (value != 1){
            value --
        }
        cantidad.value = value
    })
</script>